@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

:root{
    --primary-color: #ff7171;
    --light-color: #f6ecf0;
    --light-orange: #ff8474;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--light-color);
}

#navigation {
    background-color: #00000057;
    z-index: 2021;
    position: fixed;
    width: 100%;
}

#navigation a {
    color: var(--light-color);
    font-weight: bold;
}

#navigation a.router-link-exact-active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    font-weight: bold;
    color: var(--primary-color);
}

#header {
    background-image: url(../imgs/header-wave.svg), url(../imgs/hero.png);
    background-size: cover, cover;
    background-position-x: center;
    background-position-y: bottom, center;
}

#header img {
    transform: rotate(-5deg);
    animation: titleAnim 5s infinite;
}

#box {
    justify-content: center;
    justify-items: center;
    padding: 8%;
}

#info-area{
    background-color: var(--primary-color);
}

#navbar-column {
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

#card-header-display {
    position: relative;
    /* background-color: #97d897; */
    background-image: url(../imgs/card-header-wave.svg);
    background-size: cover;
    background-position: bottom;
}

#card-display {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.26);
    width: 15em;
    border-radius: 9px;
}

#footer {
    text-align: center;
    padding: 3em;
    background-color: var(--light-orange);
}
#footer i {
    background-color: var(--light-color);
    border-radius: 50%;
    padding: 30px;
    font-size: x-large;
    clip-path: circle();
    color: var(--light-orange);
}

#footer i:hover {
    filter: brightness(1.1);
}

.vh-20 {
    height: 20vh;
}

.vh-30 {
    height: 30vh;
}

.vh-40 {
    height: 40vh;
}

.vh-50{
    height: 50vh;
}

.vh-100 {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.nav-logo {
    width: 5em;
}

.t-orange-wave{
    background-image: url(../imgs/t-red-wave.svg);
    background-size: cover;
    background-position: bottom;
    height: 21vh;
}

.b-orange-wave{
    background-image: url(../imgs/b-red-wave.svg);
    background-size: cover;
    height: 20vh;
}

.align-self-center {
    align-self: center;
}

.center-content-grid {
    justify-content: center;
    align-content: center;
}

.btn-r10{
    border-radius: 20px;
}

.redes-sociais {
    padding: 10px;
    margin: 0 10px;
}

.redes-sociais a{
    padding: 20px;
    border-radius: 50%;
    color: whitesmoke;
}

.redes-sociais a.icoFacebook:hover {
    background-color: #3B5998;
}

.redes-sociais a.icoTwitter:hover {
    background-color: #33ccff;
}

.redes-sociais a.icoLinkedin:hover {
    background-color: #007bb7;
}

.cards {
    cursor: pointer;
    transition: transform 0.4s;
}

.cards:hover {
    z-index: 20 !important;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px #0000002c;
}

@keyframes cardAnim {
    50%{transform: rotate(5deg);}
    100%{transform: rotate(-5deg);}
}

@media screen and (max-width: 768px){
    #header img {
        width: 100%;
    }
    .nav-logo {
        width: 3em;
    }
}

@keyframes titleAnim {
    50%{transform: rotate(5deg);}
    100%{transform: rotate(-5deg);}
}
