<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/26cf4bd766.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../resources/static/assets/css/styles.css" />
    <title>PokeCards - ${card.name}</title>
</head>
<body>
    <div class="container-fluid">
        <div id="card-header-display" class="row vh-50">
            <div style="position: absolute; bottom: -175px;" class="col-md  text-center p-5">
                <img id="card-display" class="mb-3" src="https://images.pokemontcg.io/det1/1_hires.png" alt="">
                <h1>BULBASAUR</h1>
            </div>
        </div>
        <div class="row vh-30"></div>
        <div id="" class="row">
            <div class="col-md text-center">
                <h2>Infos aqui</h2>
            </div>
        </div>
    </div>
    
</body>
</html>